<html>
    <head>

    </head>




    <body>
        <h2>Welcome to the real python community! </h2>
        <p>Hey there,</p>
        <p>Thanks for joining our newsletter for Rayup Konsult. Hope you're having an awesome day!</p>
        <br>
        <p>My name is Ridwan Alaba and I'm the "Chief Python Nut" here at Rayup Konsult</p>
        <br>
        <p>I want to personally thank you for joining the Rayup Konsult and tell you a bit about what you can expect from me and these emails</p>
        <br>
        <p>yYou probably signed up because you either read one of our free tutorials, or wanted to find out more information about one of our IT(Information Training) Courses</p>
        <br>
        <p>Either way, I'm glad that you decided to join the community. We reserve some of our best content for members on this list</p>
        <br>
        <p>Usually you can expect to get emails from me each week-unless you sign up for one of my email courses</p>
        <br>
        <p>Once again, welcome to the newsletter. Me and the rest of Rayup Konsult team look forward to serving you as best as we can. If there is ever anything I can do for you please don't hesitate to reach out to me. </p>
        <br>
        <p>Happy Pythoning!</p>
        <br>
        <p>-Ridwan Alaba(Rayup Konsult)</p>

        <p>To unsubcribe visit this link: <a href="{% url 'newsletter:newsletterunsubscribe' %}"></a>Unsubscribe</p>
    </body>
</html>