braintree==3.19.0
certifi==2018.8.24
chardet==3.0.4
Django==1.8.4
django-bootstrap3==11.0.0
django-crispy-forms==1.5.0
django-filter==0.11.0
django-registration-redux==1.2
idna==2.7
Pillow==9.0.1
requests==2.7.0
urllib3==1.23