<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
      <title>RayConsult | Leveraging Technology</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Favicons -->
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/img/favicon.jpg" rel="icon">
  <!--<link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">-->
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap CSS File -->
 <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/css/mdb.min.css">

  <!-- Libraries CSS Files -->
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/font-awesome.min.css" rel="stylesheet">
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/animate.min.css" rel="stylesheet">
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/ionicons.min.css" rel="stylesheet">
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/owl.carousel.min.css" rel="stylesheet">
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="https://raycosultstatic.s3-us-west-2.amazonaws.com/css/style.css" rel="stylesheet">


</head>

<body>

    <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="#">alabarise@gmail.com</a>
        <i class="fa fa-phone"></i> +234 8157 7864 40
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i>  </a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i>  </a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i>  </a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus">  </i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>




  <!--==========================
    Header
  ============================-->
  <header id="header" class="bg-dark" >
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="{% url 'homepage' %}" class="scrollto">RayConsult</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu navbar-expand-lg">
          <li class=""><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'service' %}">Services</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'contactview' %}">Contact Us</a></li>
         
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

        {% block content %}



        {% endblock %}




  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
                <h3>RayConsult</h3>
            <p>Little can be shown without any project executed.
            We like meeting deadlines set for any work.
            Try our service today and you won't be disappointed.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class=""></i> <a href="#">Home</a></li>
              <li><i class=""></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class=""></i> <a href="{% url 'service' %}">Services</a></li>
              <li><i class=""></i> <a href="{% url 'contactview' %}">Contact us</a></li>


            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              100 Awolowo Street <br>
              Ikeja Lagos, Nigeria<br>

              <strong>Phone:</strong> +234 8157 7876 40<br>
              <strong>Email:</strong> alabarise@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subcribe to our newsletter to keep updated on lastest discoveries and softwares available.</p>
    <a href="{% url 'newslettersignup' %}"><button type="button" class="btn btn-success btn-rounded btn-get-started scrollto">Subscribe to newsletter</button></a>

            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
            &copy; Copyright <strong>RayConsult</strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- #footer -->


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5b65f75be21878736ba2a0fc/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
      t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/145422/script.js');  
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1738002016204995",
            enable_page_level_ads: true
       });
  </script>
  
   <!-- JavaScript Libraries -->
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/jquery.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/jquery-migrate.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/easing.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/hoverIntent.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/superfish.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/wow.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/waypoints.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/counterup.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/owl.carousel.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/isotope.pkgd.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/lightbox.min.js"></script>
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/lib/jquery.touchSwipe.min.js"></script>
    <!--Contact Form JavaScript File -->
  
  
    <!-- Template Main Javascript File -->
    <script src="https://raycosultstatic.s3-us-west-2.amazonaws.com/js/main.js"></script>
  
    <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="https://raycosultstatic.s3-us-west-2.amazonaws.com/js/popper.min.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="https://raycosultstatic.s3-us-west-2.amazonaws.com/js/bootstrap.min.js"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="https://raycosultstatic.s3-us-west-2.amazonaws.com/js/mdb.min.js"></script>
      <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>
