{% extends 'mainbase.html' %}
{% block content %}
<div class="container-fluid  text-center" style="margin-top: 70px;">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Who Are We?</h3>
          <p>At RayConsult, we believe there is a better way to do stuffs in the IT field. We are obsessively passionate about what we do, and our mission is to add value to you and your business.
          Our main focus is to improve the Information Technology Sector. Your personal projects can be entrusted with RayConsult. We serve you the best to keep you going when it comes to
          Programming, Networking, Project Management, Web Development, Electronics, Statistical Data Analysis and Online Marketting Helps.
         </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="https://raycosultstatic.s3-us-west-2.amazonaws.com/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Mission</a></h2>
              <p>
                Our mission at RayConsult is to librate the chilling needs of your business to improve your start-up.
                Our customers' satisfaction remains the utmost priority at RayConsult. We look forward to being the most reliable IT konsult globally in the very near future.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="https://raycosultstatic.s3-us-west-2.amazonaws.com/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Plan</a></h2>
              <p>
               RayConsult shall provide fast and reliable modern assistance to every business, irrespective of the business type.
                The keys to success for RayConsult are marketing and networking, responsiveness, quality, and generating repeat customers.

              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="https://raycosultstatic.s3-us-west-2.amazonaws.com/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Vision</a></h2>
              <p>
               We believe that we are on the face of the earth to make fantastic changes.
               We are always focusing on innovating, and we believe in the simple not the complex. And frankly, we must assert that
               we don't settle for anything less than excellence!
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->















</div>
{% endblock %}