{% extends 'mainbase.html' %}
{% block content %}
<div class="container-fluid  text-center" style="margin-top: 70px;">

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3> Our Services</h3>
          <p>Below are summaries of the services offered.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Project Management</a></h4>
            <p class="description">With over 7 years of ours in project management, you surely would have the best required for your project. We are readily available anytime. We are just a click away from you! </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Programming(Codes)</a></h4>
            <p class="description">Are you just diving into programming and don't really know where to start? Then you are definitely at the right spot. Up there are lots of languages when it comes to programming. We are willing to be of help.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Web Development/Design</a></h4>
            <p class="description">Our well reserved developers are professionals. They can handle both front-end and back-end aspects. You only need to notify us the functionalities needed on your website, and you leave the rest to us!</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Data Analysis</a></h4>
            <p class="description">Data speak only if adequately analyzed. Your data confidentiality is certain at RayConsult.
            We possess right skills and tools to deliver you awesome results from your data.   </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Online Business Consulting</a></h4>
            <p class="description">We will improve your companies or business by assessing weaknesses and recommending solutions to them.
            We are expert in this field.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Software Development</a></h4>
            <p class="description"> Softwares make businesses more efficient and also provide better services.
            The software needed largely depend on your business. Message us for tips that best suit you needs.
          </p>
          </div>

        </div>

      </div>
    </section><!-- #services -->
























</div>
{% endblock %}