{% extends 'mainbase.html' %}
{% block content %}
<div class="container-fluid  text-center" style="margin-top: 70px; margin-bottom: 3px;">

    <!--==========================
      Services Section
    ============================-->
    <div class="container">
  <div class="row">
    <div class="col-2"></div>

    <div style="margin-top:40px;" class="col-sm-8">
      <center> 
      <!--   <img src="{% static 'img/error_404.svg' %}" height="84px" width="84px"/> -->

       <h2 style="color:#32CD32;"><strong>Oops, Page not found! </strong></h2>
      <a class="btn btn-success btn-rounded" ripple-radius href="{% url 'homepage' %}">Back to Home</a>
      </center>
    </div>

    <div class="col-2"></div>
  </div>

</div>
























</div>
{% endblock %}